.page-home {
	.display-box {
		.title-bar {
			height: 1.36rem;
			background: #f4f4f4;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			.title-brand {
				width: 3.626667rem;
				height: 0.866667rem;
				background-repeat: no-repeat;
				background-size: cover;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			.title-text {
				color: #fff;
				@include font-dpr(17px);
				margin-left: -0.16rem;
			}

			.more {
				position: absolute;
				font-size: 0.373333rem;
				color: #999999;
				right: 0.266667rem;
				top: 0.56rem;
				line-height: 0.373333rem;
			}

			
		}

		&.display-box-goods {
			.title-brand{
				background-image: url("#{$img-path}assets/images/hot-sale-bg.png");
			}
			.data-list {
				display: flex;
				flex-flow: row wrap;
			}

			.list-item {
				width: 50%;
				height: 4.8rem;
				background: #fff;
				padding: 0 0.466667rem 0.466667rem 0.466667rem;
				border-right: 0.013333rem solid #eeeeee;
				border-bottom: 0.013333rem solid #eeeeee;
				&:hover, &:active {
					text-decoration: none;
				}

				.award-wrap {
					height: 3.573333rem;
					display: flex;
					justify-content: center;
					align-items: center;

					.prize-goods {
						img {
							width: 2.933333rem;
							height: 2.933333rem;
						}
					}

				}

				.info {
					line-height: 0.373333rem;
					font-size: 0.373333rem;

					.title {
						color: #333;
						margin-bottom: 0.173333rem;
						@include text-overflow;
					}

					.count {
						color: #cd1f1f;
					}

					.unit {
						color: #999999;
						width: 0.4rem;
					}

				}

			}

		}

		&.display-box-activity {
			.title-brand{
				background-image: url("#{$img-path}assets/images/hot-active-bg.png");
			}
		}
	}
	.h-banner-custom{
		height: 2.6rem;
		//background-image: url(#{$img-path}assets/images/banner-bg@2x.png);
		background-size: 100%;
	}
}
