.vux-popup-dialog.vux-popup-picker.vux-popup-bottom {
	.vux-popup-header {
		height: 0.933333rem;
		line-height: 0.933333rem;
		font-size: 0.373333rem;
	}

	.scroller-item {
		font-size: 0.373333rem;
	}

	.text {
		background-image: linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
	}

}
