
//position
.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.pos-f {
    position: fixed;
}

//width and height
.w-100 {
    width: 100px;
}

//margin and padding
.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

//cursor
.cursor-hand {
    cursor: pointer !important;
}

.cursor-arrow {
    cursor: default !important;
}

.link {
    cursor: pointer;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.no-decoration {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: underline;
    }
}
//table center  middle
.text-center {
    text-align: center;
}

.text-overflow {
    @include text-overflow;
}

.no-transition {
    transition: none;
}

.no-shadow {
    box-shadow: none;
}
.clearfix{
    @include clearfix;
}

//float
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

//display
.hide {
  display: none !important;
}
.show {
  display: block !important;
}


.text-danger{
    color:#F56C6C;
}

.text-success{
    color:#67C23A
}

.text-info{
    color:#409EFF;
}

.text-warning{
    color:#E6A23C;
}



